h1 {
    font-size: 2em;
    color: #6cb4e4;
    text-align: center;
    padding: 0.25em;
    border-top: solid 2px #6cb4e4;
    border-bottom: solid 2px #6cb4e4;
    background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px, #e9f4ff 3px, #e9f4ff 7px);
    background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px, #e9f4ff 3px, #e9f4ff 7px);
}

h2 {
    font-size: 1.5em;
    padding: 0.4em 0.5em;
    /*文字の上下 左右の余白*/
    color: #494949;
    /*文字色*/
    background: #f4f4f4;
    /*背景色*/
    border-left: solid 5px #7db4e6;
    /*左線*/
    border-bottom: solid 3px #d7d7d7;
    /*下線*/
}

h3 {
    font-size: 1.2em;
    padding: 0.2em 0.3em;
    /*文字の上下 左右の余白*/
    color: #494949;
    /*文字色*/
    background: #f4f4f4;
    /*背景色*/
    border-left: solid 4px #7d00e6;
    /*左線*/
    border-bottom: solid 3px #d7d7d7;
    /*下線*/
}